* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #FFFFFF;
    --button-color: #72dffa;
    --button2-color: #d9e4fd;
}

body {
    background-image: url(../img/numeros.jpg);
    background-size: cover;
    height: 100vh
}

h1 {
    font-size: 4rem;    
    text-align: center; 
    margin: 30px 0px 20px 0px;   
}

section {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div p {
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;        
}

input {
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.botao {
    background-color: var(--button-color);      
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;        
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;  
}

.botao:hover {
    background-color: var(--button2-color);    
}

select {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

footer {    
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    padding: 40px;
}

footer a {
    color: #000000;
}

@media (max-width: 600px) {
    section {
        width: auto;
        margin: auto 10px;
    }
}
